.default {
  padding: 5px 15px;
  color: var(--colorInput1);
  label {
    flex: 1;
    input {
      width: 100%;
    }
  }
  &:global {
    &.error {
      border: 1px solid var(--errorBg);
    }
  }
}
