.swiper {
  background: blue;
  width: 200px;
  height: 200px;

  & :global {
    .swiper-button-next,
    .swiper-button-prev {
      background-color: yellow;
      top: 15px;
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
      font-size: 10px;
    }
  }
}
