.container {
  position: relative;
  padding: 50px 0 50px 0;
  > svg {
    position: absolute;
    z-index: -1;
  }

  // animation: firelight 2s ease infinite;
  // background: radial-gradient(
  //   ellipse at bottom,
  //   rgba(255, 193, 7, 0.15) 0%,
  //   rgba(255, 193, 7, 0) 90%
  // );
}
@keyframes firelight {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.flameWrapper {
  position: absolute;
  top: -105px;
  z-index: 1;
  left: 50%;
  margin: 0 0 -30px -100px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100%;
  .fire {
    filter: url(#goo);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  div.bottom {
    position: absolute;
    left: 50px;
    bottom: 0;
    width: 100px;
    height: 30px;
    background: #ff9800;
    border-radius: 30px;
  }
  figure {
    position: absolute;
    margin: 0 0 -15px;
    left: calc(50% - 70px);
    bottom: 0;
    width: 70px;
    height: 70px;
    background: #ff9800;
    border-radius: 100%;
    @for $i from 1 through 16 {
      &:nth-child(#{$i}) {
        animation: firecircle
          1.2s
          #{$i *
          0.14}s
          cubic-bezier(0.5, 0.07, 0.64, 1)
          infinite;
        margin-left: random(70) + px;
        margin-bottom: -#{15 + random(25)}px;
      }
    }
  }
}
@keyframes firecircle {
  0% {
    transform: translateY(0) scale(1);
    background: #ff9800;
  }
  100% {
    transform: translateY(-175px) scale(0);
    background: #ffc107;
  }
}
@keyframes firereverseleft {
  0% {
    transform: translateY(0) translateX(0) scale(0.3);
  }
  100% {
    transform: translateY(-175px) translateX(50px) scale(1);
  }
}
@keyframes firereverseright {
  0% {
    transform: translateY(0) translateX(0) scale(0.3);
  }
  100% {
    transform: translateY(-175px) translateX(-50px) scale(1);
  }
}
.content {
  position: absolute;
  width: 130px;
  left: 50%;
  margin-left: -65px;
}
.contentBg {
  position: absolute;
  top: -15px;
  overflow: hidden;
  width: 130px;
  height: 70px;
  &:before {
    content: "";
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ff9800;
  }
}
.children {
  position: relative;
  z-index: 1;
  top: -20px;
}
