.container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  // padding: 50px 0 50px 0;
  > svg {
    position: absolute;
    z-index: -1;
  }

  // animation: firelight 2s ease infinite;
  // background: radial-gradient(
  //   ellipse at bottom,
  //   rgba(255, 193, 7, 0.15) 0%,
  //   rgba(255, 193, 7, 0) 90%
  // );
  &:global {
    &.activeBg {
      margin-bottom: 20px;
      &::before {
        content: "";
        width: 140px;
        height: 70px;
        bottom: calc(50% - 35px);
        left: calc(50% - 70px);
        position: absolute;
        border-radius: 50%;
        background-color: #ff9800;
      }
    }
  }
}

@keyframes firelight {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.flameWrapper {
  display: flex;
  position: absolute;
  bottom: calc(50% - 20px);
  z-index: 1;
  left: calc(50% - 100px);
  width: 200px;
  height: 190px;
  border-radius: 70%;
  overflow: hidden;
  .fire {
    filter: url(#goo);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  div.bottom {
    position: absolute;
    left: 50px;
    bottom: 0;
    width: 100px;
    height: 30px;
    background: #ff9800;
    border-radius: 30px;
  }
  figure {
    position: absolute;
    margin: 0 0 -15px;
    left: calc(50% - 70px);
    bottom: 0;
    width: 70px;
    height: 70px;
    background: #ff9800;
    border-radius: 100%;
    @for $i from 1 through 16 {
      &:nth-child(#{$i}) {
        animation: firecircle
          1.2s
          #{$i *
          0.14}s
          cubic-bezier(0.5, 0.07, 0.64, 1)
          infinite;
        margin-left: random(70) + px;
        margin-bottom: -#{15 + random(25)}px;
      }
    }
  }
}
.content {
  display: flex;
}
.children {
  display: flex;
}
@keyframes firecircle {
  0% {
    transform: translateY(0) scale(1);
    background: #ff9800;
  }
  100% {
    transform: translateY(-175px) scale(0);
    background: #ffc107;
  }
}
@keyframes firereverseleft {
  0% {
    transform: translateY(0) translateX(0) scale(0.3);
  }
  100% {
    transform: translateY(-175px) translateX(50px) scale(1);
  }
}
@keyframes firereverseright {
  0% {
    transform: translateY(0) translateX(0) scale(0.3);
  }
  100% {
    transform: translateY(-175px) translateX(-50px) scale(1);
  }
}

.children {
  position: relative;
  z-index: 1;
}
