.HeadRoom {
  position: absolute;
  z-index: 4;
  width: 100%;
  -webkit-transition: "all .5s ease-in-out";
  -moz-transition: "all .5s ease-in-out";
  -o-transition: "all .5s ease-in-out";
  transition: "all .5s ease-in-out";
}
