.myBets {
  border-collapse: collapse;
  font-size: var(--fontSizeXS);
  background-color: var(--inputBg0);
  table-layout: fixed;
  width: 100%;

  thead,
  tbody {
    padding: 0 25px;
  }
  th {
    color: var(--inputColor0);
    background-color: var(--boxBg0);
  }

  th,
  td {
    border-bottom: 1px solid var(--inputBorder0);
    padding: 8px 0;
  }
  tr {
    > * {
      &:nth-of-type(1) {
        padding-left: 25px;
        text-align: left;
      }
      &:nth-of-type(2) {
        text-align: center;
      }
      &:nth-of-type(3) {
        padding-right: 25px;
        text-align: right;
      }
    }
  }
  a {
    transition: color 1s ease-in-out;
    &:hover {
      color: var(--iconFill1);
      path {
        fill: var(--iconFill1);
      }
    }
  }
}

@media (max-width: 768px) {
  .myBets {
    tr {
      > * {
        &:nth-of-type(1) {
          padding-left: 8px;
          text-align: left;
        }
        &:nth-of-type(2) {
          text-align: center;
        }
        &:nth-of-type(3) {
          padding-right: 8px;
        }
      }
    }
  }
}
