.terms {
  cursor: pointer;
  > div {
    > span {
      transition: color 1s ease-in-out;
      color: var(--color12);
      &:hover {
        color: var(--color0);
      }
    }
  }
}
.disclaimer {
  font-size: var(--fontSizeSmall);
  background-color: var(--tableRowHover);
  padding: 10px;
  border-radius: var(--btnRadius);
  margin: 0 0 15px 0;
}
