.footer {
  margin-top: auto;
  color: white;
  background: var(--footerBg);
  font-size: var(--fontSizeSmall);
  padding: 20px;
  > div {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}

.icons {
  display: flex;
  gap: 5px;
  > a {
    display: flex;
  }
}
