.footer {
  margin-top: auto;
  color: white;
  background: var(--footerBg);
  padding: 20px;
}
.pow {
  text-align: center;
}
.social {
  margin: 10px 0 0 0;
  display: flex;
  gap: 15px;
  justify-content: center;
}
