// @import "../../styles/variables";

.modal {
  margin: 50px auto;
  width: 400px;
  max-width: 80%;
  background: rgba(56, 96, 136, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 8px;
  overflow: auto;
  outline: none;
}
.modHead {
  padding: 20px 20px 0 0;
  button {
    display: block;
    margin-left: auto;
    padding: 0;
    background: none;
    height: fit-content;
    cursor: pointer;
  }
}
.modBody {
  max-height: 80vh;
  overflow-y: auto;
  padding: 0 20px 20px 20px;
  h3 {
    margin: 0 0 10px 0;
  }
}
.nftInfo {
  margin: 50px auto;
  max-width: 80%;
  background: var(--colorBg1);
  overflow: auto;
  border-radius: 4px;
  outline: none;
}

@media (max-width: 768px) {
  .modBody {
    padding: 10px;
  }
  .modHead {
    h3 {
      font-size: 20px;
    }
  }
}
