// @import "../../styles/variables";

.modal {
  margin: 50px auto;
  width: 400px;
  max-width: 80%;
  background: var(--boxBg0Hover);
  border: 1px solid var(--inputBorder0);
  border-radius: 8px;
  overflow: auto;
  outline: none;
  & :global {
    .infoIco {
      width: fit-content;
      margin: 0 auto 15px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      padding: 16px;
      background-color: var(--iconFill1);
    }
  }
}
.modHead {
  padding: 20px 20px 0 0;
  button {
    display: block;
    margin-left: auto;
    padding: 0;
    background: none;
    height: fit-content;
    cursor: pointer;
  }
}
.modBody {
  max-height: 80vh;
  overflow-y: auto;
  padding: 0 20px 20px 20px;
  h3 {
    margin: 0 0 10px 0;
  }
}
.nftInfo {
  margin: 50px auto;
  max-width: 80%;
  background: var(--colorBg1);
  overflow: auto;
  border-radius: 4px;
  outline: none;
}

@media (max-width: 768px) {
  .modBody {
    padding: 10px;
  }
  .modHead {
    h3 {
      font-size: 20px;
    }
  }
}
