// @import "../../styles/variables";

.modal {
  margin: 50px auto;
  width: 400px;
  max-width: 80%;
  background: var(--colorBg1);
  overflow: auto;
  border-radius: 4px;
  outline: none;
}
.modHead {
  padding: 20px 15px;
  background-color: var(--colorBg5);
  opacity: 0.75;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  justify-content: space-between;

  h3 {
    opacity: 1;
    font-size: 30px;
    margin: 0;
    line-height: 20px;
    text-shadow: 2px 2px 3px #7e7e7e;

    span {
      text-shadow: 2px 2px #636c39;
      color: var(--colorFont3);
    }
  }
  button {
    padding: 0;
    background: none;
    height: fit-content;
  }
}
.modBody {
  max-height: 80vh;
  overflow-y: auto;
  padding: 15px 32px 32px 32px;
  font-size: 16px;
  h3 {
    margin: 0 0 10px 0;
  }
}
.nftInfo {
  margin: 50px auto;
  max-width: 80%;
  background: var(--colorBg1);
  overflow: auto;
  border-radius: 4px;
  outline: none;
}

@media (max-width: 768px) {
  .modBody {
    padding: 10px;
  }
  .modHead {
    h3 {
      font-size: 20px;
    }
  }
}
