.wn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: normal;
  padding: 25px;
  border-radius: 5px;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.success {
  background: rgba(33, 229, 111, 0.7);
  color: white;
}

.info {
  background: rgba(78, 68, 206, 0.7);
  color: white;
}

.error {
  background: var(--errorBg);
  color: white;
}
