.stats {
  margin-bottom: 40px;

  h2 {
    font-size: 24px;
    margin: 0 32px 15px 0;
  }
  ul {
    position: relative;
    flex: 1;
    li:not(:last-of-type) {
      margin: 0 0 20px 0;
    }
  }
}
.statsBox {
  display: flex;
  gap: 15px;
  background-color: var(--boxBg2);
  border: 1px solid var(--inputBorder0);
  border-radius: 8px;
  padding: 32px;

  > div {
    flex: 1;
    display: flex;
    vertical-align: middle;
    &:last-of-type {
      justify-content: center;
    }
  }
}
.rightStats {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  flex-direction: column;

  > p {
    text-align: center;
    margin: 0;
    color: var(--color12);
    font-size: var(--fontSizeSmall);
  }
}

.statsDef {
  margin: 0 0 5px 0;
  gap: 8px;
  > div {
    height: 2px;
  }
  span {
    position: relative;
    z-index: 2;
    cursor: pointer;
    font-size: var(--fontSizeXS);
    transition: color 1s ease-in-out;
    &:hover {
      color: var(--color0);
    }
  }
}

.statsBar {
  display: flex;
  align-items: center;
  gap: 8px;
  > div {
    height: 2px;
  }
}

.award {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  p {
    margin: 0;
    font-size: var(--fontSizeXS);
  }
}

.burning {
  color: var(--color1);
  animation: fadeText 2s infinite;
  i {
    border-color: var(--color1) !important;
  }
}

.pot,
.pot i {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pot {
  gap: 7px;
  > div {
    display: flex;
    flex-direction: column;
    > label {
      font-size: 14px;
      cursor: none;
    }
    > span {
      font-size: 18px;
    }
  }
  i {
    border: 2px solid var(--color0);
    border-radius: 50%;
    padding: 7px;
    svg {
      width: 25px;
      height: 25px;
      cursor: none;
    }
  }
}
@keyframes fadeText {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.55;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .stats {
    h2 {
      margin: 0 32px 15px 32px;
    }
  }
  .statsBox {
    flex-direction: column;
    gap: 50px;
  }
}
