.content {
  > section {
    width: 100%;
    height: 100%;
    padding: 100px 15px 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    &:last-of-type {
      background-color: var(--boxBg0);
    }
    > div {
      min-height: 250px;
      > ul {
        li {
          display: flex;
          align-items: center;
          margin: 0 0 15px 0;
          p {
            font-size: var(--fontSizeSmall);
            margin: 0;
            width: 150px;
          }
        }
      }
    }
  }
  h1,
  h2 {
    margin: 0 0 40px 0;
    font-size: var(--h4Size);
  }

  button {
    text-align: center;
    border-radius: 100px;
    width: 145px;
    a {
      margin: auto;
    }
  }
}

.stats {
  display: flex;
  gap: 32px;
  h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--fontSizeBig);
    color: var(--color12);
    margin: 0 0 15px 0;
    span {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 5px;
      margin-left: 5px;
    }
  }
  > div > p {
    margin: 15px 0;
    font-size: var(--fontSizeXS);
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .content {
    margin: 50px 0 0 0;
    flex-direction: column;
    > section {
      padding-top: 0;
    }
    h2 {
      margin: 25px 0 40px 0;
    }
  }
  .stats {
    flex-direction: column;
  }
}
