@keyframes firelight {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes radial-pulse0 {
  0% {
    box-shadow: 0 0 0 0em var(--btnRGBA0);
  }
  100% {
    box-shadow: 0 0 0 1.5em rgba(255, 100, 100, 0);
  }
}
