@font-face {
  font-family: "Bowlby One SC";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/Bowlby_One_SC/BowlbyOneSC-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
