.content {
  max-width: 928px;
  padding-top: 144px;
  margin: 0 auto;
  section {
    margin: 0 0 40px 0;
    p {
      color: var(--color12);
    }
  }
  fieldset {
    padding: 48px;
    background: var(--boxBg1);
    border: 1px solid var(--inputBorder0);
  }
}
.title {
  margin: 0 0 40px 0;
  h1 {
    margin: 0 0 10px 0;
  }
  p {
    color: var(--color12);
  }
}

.MDEditorError {
  border: 1px solid red;
}
.flexCols {
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
  > section {
    flex: 1;
    fieldset {
      height: 100%;
    }
  }
}

@media (max-width: 768px) {
  .title {
    margin: 0 48px 40px 48px;
  }
  .content {
    section h2 {
      margin-left: 48px;
    }
  }
  .flexCols {
    flex-direction: column;
    margin-bottom: 0;
    gap: 0;
  }
}
