html {
  // COMMON STYLES:

  --h1Size: 33px;
  --h2Size: 20px;
  --h3Size: 16px;
  --h4Size: 24px;

  // Desktop
  --fontSizeXBig: 20px;
  --fontSizeBig: 17px;
  --fontSizeMedium: 14px;
  --fontSizeSmall: 12px;
  --fontSizeXS: 10px;

  // Mobile
  --mFontSizeBig: 17px;
  --mFontSizeMedium: 14px;
  --mFontSizeSmall: 12px;
  --mFontSizeXS: 10px;
}
