@font-face {
  font-family: "Rubik";
  src: url("../public/fonts/rubik/Rubik-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../public/fonts/rubik/Rubik-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../public/fonts/rubik/Rubik-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
