.gamesTable {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-size: var(--fontSizeXS);

  th {
    color: var(--inputColor0);
  }
  tr {
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    background-color: var(--tableRow);
    &:not(&.empty) {
      > td,
      > th {
        &:first-of-type {
          white-space: unset;
          text-align: left;
          width: 100%;
          cursor: pointer;
        }
      }
    }
  }
  tbody {
    tr {
      &:not(&.empty) {
        &:hover {
          background-color: var(--tableRowHover);
        }
      }
      p {
        margin: 0;
        color: var(--color0);
      }
    }
  }
  th,
  td {
    white-space: nowrap;
    border-top: 1px solid var(--inputBorder0);
    border-bottom: 1px solid var(--inputBorder0);
    padding: 15px;
  }
}

.gameCard {
  display: flex;
  align-items: center;
  gap: 12px;

  .img {
    position: relative;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    &.bg {
      background-color: var(--color14);
      box-shadow: inset 0px 2px 0px rgb(255 255 255 / 12%),
        inset 0px 30px 5px rgb(255 255 255 / 5%),
        inset 0px -3px 0px rgb(0 0 0 / 17%);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 8px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.3;
    }
    > div {
      position: absolute;
      top: -15px;
      left: -10px;
      animation: firelight 2s ease infinite;
      -moz-animation: firelight 2s ease infinite;
      -webkit-animation: firelight 2s ease infinite;
    }
  }
  .terms {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 12px;
    strong {
      color: var(--color12);
    }
    span {
      border-radius: 20px;
      padding: 5px 8px;
    }
  }
  h4 {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: var(--fontsizeXS);
    font-weight: normal;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .gameCard {
    .terms {
      flex-direction: column;
      gap: 5px;
    }
  }
}
