@import "./common-settings.scss";

.tc {
  display: flex;
  gap: 15px;
  li {
    display: flex;
    align-items: center;
    gap: 8px;
    label {
      border-radius: 24px;
      font-size: var(--fontSizeXS);
      padding: 4px 8px;
    }
  }
}

.flexCols {
  display: flex;
  gap: 24px;
  > section {
    flex: 1;
  }
}
