html {
  // COMMON STYLES:
  --fontFamily1: "Neue Haas Grotesk Display Pro", sans-serif;
  --fontFamilyTitle: "Neue Haas Grotesk Display Pro", sans-serif;

  --fontSizeMedium: 14px;
  --fontSizeSmall: 12px;
  --fontSizeXS: 10px;
  --fontSize1: 18px;
  --fontSize2: 16px;
  --fontSize3: 20px;
  --fontSize4: 30px;
  --fontSizeH1: 55px;
  --fontSizeH2: 35px;
  --fontSizeH3: 20px;

  --lightRed: #f34b27;
  --darkRed: #b90404;
  --lightOrange: #fbc832;
  --darkOrange: #f6741e;
  --lightGreen: #8fc61c;
  --darkGreen: #378309;
  --lightBlue: #2579c4;
  --darkBlue: #0e317d;
  --lightGray: #ddd;

  // Mobile
  --mFontSize1: 14px;
  --mfontSize2: 14px;
  --mfontSizeH1: 30px;
  --mfontSizeH2: 20px;
  --mfontSizeH3: 16px;

  &[data-theme="light"] {
    --colorFont1: #000;
    --colorFont2: #7e7e7e;
    --colorFont3: #fff;
    --colorFont4: #8abbe3;
    --colorFont5: #df7960;
    --colorFont6: #000;
    --colorFont7: #ddd;

    --colorInput1: #646464;

    --colorBg1: #fff;
    --colorBg2: #262626;
    --colorBg3: #6e6e6e;
    --colorBg4: #df976f;
    --colorBg5: #5a6261;
    --colorBg6: #d9d8d3;
    --colorBg7: #f8f9fa;
    --colorBg8: #fff;
    --colorBg10: #fff;
    --colorBg11: #262626;
    --colorBg12: #151515;

    --colorBtn1: #4e44ce;

    --iconsColor: #000;

    --colorMoon: #ffe000;

    --filterBg: none;
  }

  &[data-theme="dark"] {
    // --background: black;
    // --foreground: white;
    --colorFont1: white;
    --colorFont2: rgb(185, 187, 190);
    --colorFont3: white;
    --colorFont4: rgb(163, 166, 170);
    --colorFont5: #df7960;
    --colorFont6: #fff;
    --colorFont7: #151515;

    --colorBg1: #2e3136;
    --colorBg2: #32353a;
    --colorBg3: #18191c;
    --colorBg4: #2e3136;
    --colorBg5: #1f2225;
    --colorBg6: #282b2f;
    --colorBg7: #36393e;
    --colorBg8: #444444;
    --colorBg9: #2e2e2e;
    --colorBg10: #040405e6;
    --colorBg11: #282b2f;
    --colorBg12: #ddd;
    // Background1 = #36393e → BackgroundHover = rgba(4,4,5,0.07);
    --colorBtn1: #b8bbbe;

    --iconsColor: #b8bbbe;

    --colorInput1: white;
    --colorBtn1: #4e44ce;

    --colorMoon: #ffe000;

    --filterBg: invert(1);
  }
}
