html {
  // COMMON STYLES:
  --fontFamily1: "Neue Haas Grotesk Display Pro", sans-serif;
  --fontFamilyTitle: "Neue Haas Grotesk Display Pro", sans-serif;

  --fontSizeMedium: 14px;
  --fontSizeSmall: 12px;
  --fontSizeXS: 10px;
  --fontSize1: 18px;
  --fontSize2: 16px;
  --fontSize3: 20px;
  --fontSize4: 30px;
  --fontSizeH1: 55px;
  --fontSizeH2: 35px;
  --fontSizeH3: 20px;

  --lightRed: #f34b27;
  --darkRed: #b90404;
  --lightOrange: #fbc832;
  --darkOrange: #f6741e;
  --lightGreen: #8fc61c;
  --darkGreen: #378309;
  --lightBlue: #2579c4;
  --darkBlue: #0e317d;
  --lightGray: #ddd;

  // Mobile
  --mFontSize1: 14px;

  &[data-theme="default"] {
    --bodyBg: radial-gradient(
        192.85% 192.85% at 50% 0%,
        rgba(4, 11, 14, 0) 0%,
        rgba(4, 11, 14, 0.5) 100%
      ),
      linear-gradient(180deg, rgba(8, 12, 23, 0) 0%, #080c17 100%),
      url(../public/images/planet-earth-seen-from-space-scifi-illustration.jpg),
      linear-gradient(228.5deg, #245274 0%, #43356b 100%), #000000;
    --footerBg: linear-gradient(180deg, #0e1a25 0%, #10222f 100%);
    --navBg: linear-gradient(180deg, #0d191e 0%, #152a3d 100%);
    --color0: white;
    --color1: #0b1b27;
    --color2: #35b7af;
    --color3: #288a84;
    --color4: #1d635f;
    --color5: #f3fcfb;
    --color6: #fafafa;
    --color7: #c4eeeb;
    --color8: #bd2742;
    --color9: #d8415c;
    --color10: #fafafa;
    --color11: #941f34;
    --color12: #668fa3;

    --inputBg0: var(--color1);
    --inputColor0: var(--color12);
    --inputBorder0: 1px solid rgba(255, 255, 255, 0.06);
    --iconBg0: var(--color0);
  }

  &[data-theme="another"] {
  }
}
