html {
  // COMMON STYLES:
  --fontFamily: "Rubik", sans-serif;

  --h1Size: 33px;
  --h2Size: 20px;
  --h3Size: 16px;
  --h4Size: 24px;

  // Desktop
  --fontSizeXBig: 20px;
  --fontSizeBig: 17px;
  --fontSizeMedium: 14px;
  --fontSizeSmall: 12px;
  --fontSizeXS: 10px;

  // Mobile
  --mFontSizeBig: 17px;
  --mFontSizeMedium: 14px;
  --mFontSizeSmall: 12px;
  --mFontSizeXS: 10px;

  &[data-theme="default"] {
    --bodyImage: url(../public/images/galaxy.webp);
    --footerBg: linear-gradient(180deg, #0e1a25 0%, #10222f 100%);
    --navBg: linear-gradient(180deg, #0d191e 0%, #152a3d 100%);
    --color0: white;
    --color1: #0b1b27;
    --color2: #35b7af;
    --color3: #288a84;
    --color4: #1d635f;
    --color5: #f3fcfb;
    --color6: #fafafa;
    --color7: #c4eeeb;
    --color8: #bd2742;
    --color9: #d8415c;
    --color10: #fafafa;
    --color11: #941f34;
    --color12: #668fa3;
    --color13: #aeaeae;
    --color14: #20354f;
    --color15: #2c4666;
    --color16: #b4b2e6;
    --color17: #1d3344fc;
    --color18: #3a46b0;

    --siteNameColor: linear-gradient(270deg, #bd2742 0.02%, #eb5973 149.72%);

    --boxBg: rgba(56, 96, 136, 0.2);
    --errorBg: var(--color8);

    --inputBg0: var(--color1);
    --inputColor0: var(--color12);
    --inputBorder0: rgba(255, 255, 255, 0.06);

    --btnBg0: var(--color2);
    --btnBgHover0: var(--color3);
    --btnBg1: var(--color14);
    --btnBgHover1: var(--color15);
    --btnBg2: var(--color8);
    --btnBgHover2: var(--color9);
    --disabledBtnBg: var(--color10);

    --iconFill0: var(--color0);
    --iconFill1: var(--color2);
    --iconFill2: var(--errorBg);
    --iconFill3: var(--color12);

    --opt0: var(--color2);
    --opt1: var(--errorBg);
    --opt2: #b7a235;
    --opt3: #57bd27;
    --opt4: #3579b7;
    --opt5: #2748bd;
    --opt6: #5735b7;
    --opt7: #b127bd;
    --opt8: #b73573;
    --opt9: #b73573;
    --opt10: #b76c35;
    --opt11: #7cbeba;
    --opt12: #c27c89;
    --opt13: #b9af7a;
    --opt14: #8dc075;
    --opt15: #7a9dbe;
    --opt16: #7788c1;
    --opt17: #8876bb;
    --opt18: #bb7bc0;
    --opt19: #bc7195;
    --opt20: #ba9478;
    --opt21: #527a78;
    --opt22: #8c404e;
    --opt23: #857b47;
    --opt24: #588c40;
  }

  &[data-theme="another"] {
  }
}
